@page "/fetchdata"
@inject HttpClient Http
@inject PostOfficeContext dbContext
@using PWA_BlazorWebAssembly.DataAccess;
@using PWA_BlazorWebAssembly.Models;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (parcels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parcel in parcels)
            {
                <tr>
                    <td>@parcel.Id.ToString()</td>
                    <td>@parcel.Sender</td>
                    <td>@parcel.Receiver</td>
                    <td>@parcel.Weight.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<Parcel> parcels;
    protected override async Task OnInitializedAsync()
    {
        parcels = dbContext.Parcels.ToArray();
    }

}
